<%= form_with(model: volunteer, local: true) do |form| %>
  <%= form.hidden_field :type %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <% if volunteer.is_host? %>
    <div class="field">
      <%= form.label :host_capacity %>
      <%= form.number_field :host_capacity %>
    </div>
  <%end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
